body {
  background-color: #F4F4F4;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#nav-pane ul {
  list-style: none;
}

.logo-name {
  font-family: serif;
  font-variant: small-caps;
}

.motto {
  font-family: serif;
}

.nav-sec {
  border-bottom: 1px solid gray;
  border-color: gray;
}

.nav-heading {
  font-size: 14pt;
  color: gray;
}

#main {
  background-color: white;
}

#welcome-banner {
  background-color: #F7F7F7;
  border: 1px solid gray;
  margin: 10px;
}

#left-main {
  background-color: #F2FFF9;
}
#left-main h3 {
  background-color: #C3F1D8;
  border: 1px solid gray;
}

#right-main {
  background-color: #F2F9FF;
}

#right-main h3 {
  background-color: #C3D6F0;
  border: 1px solid gray;
}

#bottom-main {
  background-color: #F9F2FF;
}

#bottom-main h3 {
  background-color: #D5C0F0;
  border: 1px solid gray;
  padding: 3px;
}

#featured-list {
  background-color: #FFF2F9;
}

#featured-list h3 {
  background-color: #EFC1D5;
  border: 1px solid gray;
}

#featured-pic {
  display: block;
}

#picture-bottom p {
  display: inline;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}
